version: '3.7'

services:
  django_gunicorn:
    build:
      context: .
    env_file:
      - .env
    volumes:
      - staticfiles:/app/staticfiles
    expose:
      - "8080"

  nginx:
    build: ./nginx
    volumes:
      - staticfiles:/staticfiles
      - ./nginx/cert:/etc/nginx/certs:ro
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - django_gunicorn

volumes:
  staticfiles:
